.cart {
  position: relative;
  display: inline-block;
  padding-right: 40px;
  padding-top: 20px;
  text-align: center;
  justify-content: flex-start;
  color: rgba(0, 0, 0, 0.768)
}
.heart {
  position: relative;
  display: inline-block;
  padding-right: 3em;
  text-align: center;
  justify-content: flex-start;
  color: rgba(0, 0, 0, 0.768);
}
.profile {
  position: relative;
  display: inline-block;
  padding-right: 3em;
  text-align: center;
  justify-content: flex-start;
  color: rgba(0, 0, 0, 0.751)
}
.cart:hover{
  color: rgba(8, 71, 19, 0.802);
  transition: color 0.5s ease-in-out;
}
.iconUser:hover{
  color: rgb(186, 189, 2);
  transition: color 0.5s ease-in-out;
}


.cart img span.circle {
  margin-right: 60px;
}

.heart:hover{
  color: rgb(172, 4, 4);
  transition: color 0.5s ease-in-out;
}

.centred {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-20%, -75%);
}

span.circle {
  background: rgba(0, 0, 0, 0.792);
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 15px;
  margin-bottom: 10px ;
  text-align: center;
  width: 1.6em;

}
